In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
# A database is a collection of structured data that is organized in a way that allows for 
# efficient storage, retrieval, and management of data. Databases are commonly used in many 
# applications, including e-commerce, social media, finance, and healthcare, among others.

# SQL and NoSQL are two different types of database management systems that differ in their
# approach to data storage and retrieval.

# SQL, which stands for Structured Query Language, is a relational database management system 
# that uses tables to store data. SQL databases are based on the relational model, where data 
# is organized into tables consisting of rows and columns. SQL databases use a schema to define
# the structure of the data and the relationships between tables.

# NoSQL, on the other hand, stands for Not Only SQL, and is a non-relational database 
# management system that does not use tables to store data. NoSQL databases are designed
# to handle large volumes of unstructured or semi-structured data, and use a variety of 
# data models, including document-oriented, key-value, and graph-based.

In [2]:
# What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
# DDL stands for Data Definition Language, which is a set of SQL 
# commands used to define and modify the structure of a database schema. 
# DDL commands are used to create, modify, and delete objects in a database, 
# such as tables, views, indexes, and procedures.

In [4]:
# Create - The create command is used to create new objects in the database such as tables etc. for example
# CREATE TABLE mytable (
    # id INT PRIMARY KEY,
    # name VARCHAR(50) NOT NULL,
    # age INT
# );

In [5]:
# DROP: The DROP command is used to delete objects from the database, such as tables.
# for example:
# DROP TABLE mytable;

In [6]:
# ALTER: The ALTER command is used to modify the structure of existing objects in the database, such as tables.
#  for example:
# ALTER TABLE mytable ADD COLUMN email VARCHAR(100);

In [7]:
# TRUNCATE: The TRUNCATE command is used to delete all the data from a table while leaving its structure intact. For example, 
# to delete all the data from the "mytable" table, you would use the following syntax:

# TRUNCATE TABLE mytable;

In [8]:
# What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [9]:
# DML stands for Data Manipulation Language, which is a set of SQL commands used 
# to manipulate data stored in a database.
# DML commands are used to insert, update, and delete data from tables in the database.

# INSERT:
# The INSERT command is used to add new rows of data into a table. 
# For example, to insert a new row of data into a table called "customers", 
# you would use the following syntax:

# INSERT INTO customers (name, email, age) VALUES ('John Smith', 'johnsmith@example.com', 30);


# UPDATE:
# The UPDATE command is used to modify existing data in a table. 
# For example, to update the email address of a customer with the name 
# "John Smith" in the "customers" table, you would use the following syntax:

# UPDATE customers SET email='newemail@example.com' WHERE name='John Smith';

# DELETE:
# The DELETE command is used to remove data from a table. 
# For example, to delete a row from the "customers" table with the name 
# "John Smith", you would use the following syntax:

# DELETE FROM customers WHERE name='John Smith';

In [10]:
# Q4. What is DQL? Explain SELECT with an example.

In [11]:
# DQL commands are used to query and filter data stored in tables in the database.

# The most commonly used DQL command is SELECT, 
# which is used to retrieve data from one or more tables in a database. 
# Here's an example of a SELECT statement:

# SELECT * FROM customers;


# This statement retrieves all the data from the "customers" table in the database. 
# The "*" symbol is used to specify that all columns should be included in the result set.


# You can also specify which columns you want to retrieve by 
# replacing the "*" symbol with the names of the columns you want. 


# You can also use the WHERE clause to filter the data based on certain conditions. 
# For example, to retrieve only the customers 
# who are older than 30 years old, you would use the following SELECT statement:

# SELECT * FROM customers WHERE age > 30;

# You can also use the ORDER BY clause to sort the data in ascending 
# or descending order based on a specific column.

In [12]:
# Explain Primary Key and Foreign Key.

In [13]:
#  A primary key is used to ensure that data in the specific column is unique.
# A column cannot have NULL values. It is either an existing table column or a column 
# that is specifically generated by the database according to a defined sequence. 

# A foreign key is a column or group of columns in a relational database table that provides 
# a link between data in two tables. It is a column (or columns) that references a column 
# (most often the primary key) of another table.

In [14]:
# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
# import mysql.connector

# # Connect to the MySQL database
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="yourusername",
#   password="yourpassword",
#   database="mydatabase"
# )

# # Create a cursor object
# mycursor = mydb.cursor()

# # Create a table
# mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# # Insert data into the table
# sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
# val = ("John", "Highway 21")
# mycursor.execute(sql, val)

# # Commit the changes
# mydb.commit()

# # Retrieve data from the table
# mycursor.execute("SELECT * FROM customers")
# myresult = mycursor.fetchall()

# # Print the data
# for x in myresult:
#   print(x)

In [3]:
#  Q- Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# In a typical SQL query, the order of execution of the SQL clauses is as follows:

#     FROM clause: This clause specifies the table or tables from which the data is to be retrieved.

#     JOIN clause: If the data is to be retrieved from multiple tables, the JOIN clause is used to specify 
# how the tables are to be joined.

#     WHERE clause: This clause is used to filter the data based on a set of conditions.

#     GROUP BY clause: If the data is to be grouped based on one or more columns, the GROUP BY clause is used.

#     HAVING clause: This clause is used to filter the groups based on a set of conditions.

#     SELECT clause: This clause specifies the columns to be retrieved from the table(s).

#     ORDER BY clause: This clause is used to sort the data based on one or more columns.

#     LIMIT clause: This clause is used to limit the number of rows returned by the query.